.container {
    margin-top: 30px;
    min-height: 100vh;
}

.input {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .input {
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .select_1 {
        margin-right: 0 !important;
    }
}
