.container {
  margin: auto;
  padding: 20px;
  border-radius: 16px;
  background: white;
  width: 600px;
  display: flex;
  justify-content: center;
  font-family: Inter;

  form {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    h3 {
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      color: #72C075;
    }
  }
}

.btn {
  display: block;
  margin: 12px auto;
  border-radius: 10px;
  padding: 8px 4px;
  width: 290px;
  height: 58px;
  background-color: #72C075;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  border: 2px solid #72C075;
  transition: 1s background-color, .5s color;
  cursor: pointer
}

.btn:hover {
  background-color: transparent;
  color: #000;
}