.container {
  width: 90%;
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.btn {
  display: block;
  margin: 12px auto;
  border-radius: 10px;
  padding: 8px 4px;
  width: 290px;
  height: 58px;
  background-color: #72C075;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  border: 2px solid #72C075;
  transition: 1s background-color, .5s color;
  cursor: pointer
}

.btn:hover {
  background-color: transparent;
  color: #000;
}

@media(max-width: 1023px) {
  .container {
    grid-template-columns: 1fr;
    padding: 0;
    margin-top: 20px;
  }
}