@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

button,
input,
select,
textarea {
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

p {

}

.css-al7yy8-MuiContainer-root {
    max-width: none !important;
}