.container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

form {
    width: 585px;
    border: 1px solid black;

    input {
        margin-top: 26px;
    }
}

.avatarContainer {
    width: 585px;
}