.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    margin-bottom: 24px;
}

form {
    width: 585px;

    input {
        margin-top: 26px;
    }
}

.avatarContainer {
    width: auto;
    display: inline-block;

    img {
        display: block;
        width: 500px;
        aspect-ratio: 1/1;
        border: 2px solid #72C075;
        border-radius: 24px;
    }
}

.profileBtn {
    display: block;
    margin: 12px auto;
    border-radius: 10px;
    padding: 8px 4px;
    width: 290px;
    height: 58px;
    background-color: #72C075;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    border: 2px solid #72C075;
    transition: 1s background-color, .5s color;
    cursor: pointer
}

.profileBtn:hover {
    background-color: transparent;
    color: #000;
}

@media(max-width: 600px) {
    form {
        width: 94vw;
        margin: auto;
    }

    .avatarContainer > img {
        width: 94vw;
    }
}