.container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

form {
    width: 100%;
    min-width: 280px;
    max-width: 585px;
    border: 1px solid black;
}

.avatarContainer {

}