.container {
    margin: 20px 0; 
    padding: 10px 15px;
    transition: .5s all;
    border-radius: 8px;
    cursor: pointer;
}

.subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subtitle p {
    font-size: 18px;
    font-weight: 600;
}

.description {
    margin: 15px 0;
}

.description p {
    font-size: 16px;
    font-weight: 500;
}

.container:hover {
    background-color: darken(#fff, 5);
    border: none
}
