.footer {
  width: 100%;
  height: 184px;
  background-color: #72C075;
  padding: 10px 100px;

  a {
    color: #fff;
  }

  .footerContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }

  .footerContainerInformation {
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
      color: #fff;
      font-size: 36px;
      font-weight: 600;
    }

    p {
      font-size: 20px;
      font-weight: 300;
      color: #fff;
    }

    p:nth-child(2) {
      margin-top: 10px;
    }

    p:nth-child(3) {
      margin-top: 4px;
    }

    a {
      font-weight: 700;
    }
  }

  .footerContainerDocumentation {
    display: flex;
    align-items: center;

    a {
      font-weight: 700;
      font-size: 20px;
    }

    img {
      margin-left: 8px;
      width: 48px;
      height: 48px;
    }
  }
}

@media(max-width: 1200px) {
  .footerContainer {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .footerContainerDocumentation {
    img {
      display: none;
    }
  }
}

@media(max-width: 767px) {
  .footer {
    height: fit-content;

    .footerContainer {
      gap: 12px;
    }

    .footerContainerInformation {
      text-align: center;

      p {
        display: inline-flex;
        // width: 200px;
        flex-direction: column;
      }
    }

    .footerContainerDocumentation {
      text-align: center;
    }
  }
}

@media (max-width: 400px) {
  .footer {
    .footerContainerInformation {
      h2 {
        font-size: 20px;
      }

      p {
        font-size: 12px;
      }
    }

    .footerContainerDocumentation {
      a {
        font-size: 16px;
      }
    }
  }
}