.container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.form {
    width: 1200px;
    padding: 24px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .formBlock {
        width: 100%;
        display: grid;
        gap: 20px;
        grid-template-areas:
            "a b c"
            "a b c"
            "tasks _  rm";
        grid-template-columns: 1fr 1fr 1fr;
    }

    .addBtn, .rmBtn {
        width: 56px;
        height: 56px;
        margin: auto;
        cursor: pointer;
        border-radius: 12px;
        transition: all 400ms;
        transition-delay: 100ms;
    }

    .addBtn {
        background: #72C075;
    }

    .rmBtn {
        background: #f67272;
    }

    .addBtn:hover, .rmBtn:hover {
        scale: 1.2;
    }

    h3 {
        color: #72C075;
        font-size: 18px;
        font-weight: 400;
        width: fit-content;
        display: block;
        border-bottom:2px solid  #72C075;
    }

    .submitBtn {
        display: block;
        margin: auto;
        border-radius: 10px;
        width: 290px;
        height: 58px;
        background-color: #72C075;
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 2px;
        border: 2px solid #72C075;
        transition: 1s background-color, .5s color;
        cursor: pointer
    }

    .submitBtn:hover {
        background-color: transparent;
        color: #000;
    }

    .divider {
        display: block;
        margin: auto;
        width: 80%;
        border: 1px solid #72C075;
    }

}

@media(max-width: 767px) {
    .formBlock {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
}